
:root{
    color-scheme: light dark;
}
body {
    background-color: ffffff;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    color: black;
}

h1{
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
}

h2{
    font-size: 24px;
    font-size-adjust:none;
}

h3{
    font-style: italic;
}

p{
    text-align: justify;
    text-justify: inter-word;
    text-rendering: optimizeLegibility;
    -webkit-hyphenate-character: "-";
    hyphenate-character: "-";
    hyphens: auto;
}

li{
    margin-bottom: 0.7rem;
    list-style-type:disc;
    list-style-image: none;
    list-style-position: outside;
}


main{
    width: 100%;
}

.htmldicnav{
    /* background-color: gray; */
    background-color:  #e54c21;
    padding: 20px 10px 20px 10px;
    margin: 0;
    display: flex;
    /* border-bottom: 1px solid lightgray; */
}
.htmldicnav ul{
    display: flex;
}

.htmldicnav ul li{
    list-style-type: none;
    margin-left: 5px;
    padding:5px;
}

.cssdicnav{
 background-color: #264de4 !important;
 padding: 20px 10px 20px 10px;
 margin: 0;

}

.cssdicnav ul{
    display: flex;
    justify-content: center;
}

.cssdicnav ul li{
    list-style-type: none;
    margin-left: 5px;
    padding:5px;
}

.cssdicnavcategories ul{
    display: flex;
}

.cssdicnavcategories ul li {
    list-style-type: none;
    margin-left: 5px;
    padding:5px;   
}

button{
    padding: 10px 60px 10px 60px;
}

input[type="button"],input[type="reset"],input[type="submit"]{
    padding: 10px 60px 10px 60px;  
}

input[type="checkbox"]{
 accent-color: red;
}

input[type="month"]{
    /* appearance: auto; */
}

table, th, td {
    border: 1px solid lightgray;
    border-collapse:collapse;
    border-spacing: 5px;
    empty-cells: show;
    background-color: #f9f9f9;
  }

table caption {
    caption-side: top;
    background-color: #f16524;
    padding: 10px 5px 10px 5px;
    font-kerning: normal;
    font-weight: bold;
}



section {
    border-bottom: 1px solid lightgray;
    max-width: 100%;
    min-width: auto;
    width: 100%;
    min-height: max-content;
}

blockquote{
    text-decoration-color: black;
    text-decoration-line: underline;
    text-decoration-skip-ink: auto;
    word-spacing: 10px;
}

q{
    quotes: "<<" ">>" "<" ">";
}




.figure_1_html{
    width: 100%;
    image-resolution: from-image 300dpi;
    image-rendering: auto;
    background-color: #f9f9f9;
    border: 1px solid lightgray;
    padding: 10px 10px 10px 10px;
}


.figure_1_css{
    width: 50%;
    image-resolution: from-image 300dpi;
    image-rendering: auto;
    background-color: #f9f9f9;
    border: 1px solid lightgray;
    padding: 10px 10px 10px 10px;
}



.container{
    padding: 30px 10px 30px 10px;
    width: 80%;
    margin: 0 auto;
}

.flex {
    display: flex;
   /* flex-wrap: wrap; */
  }

.boton_tipo_1 {
 border-bottom-left-radius: 3px;
 border-bottom-right-radius: 3px;
 border-top-left-radius: 3px;
 border-top-right-radius: 3px;
 background-color: black;
 border: 1px solid black;
 cursor: pointer;
 color: white;
 box-shadow: 3px 1px 5px -3px black;

}

.boton_tipo_2 {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: lightcoral;
    border: 2px solid lightgray;
    box-shadow: 3px 1px 5px -3px black;
   }

.boton_tipo_3 {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: lightgreen;
    border-width: 3px;
    border-style:  solid;
    border-color:  lightgray;
   }

.concept_definition::first-letter{
       -webkit-initial-letter: 2.0;
       initial-letter: 2.0;
   }

.concept_definition{
    text-indent: 5em;
}

   .text_emphasis{
       /* text-emphasis: 'v';
       text-emphasis-position: under; */

   }

   .backdrop_container{
       backdrop-filter: blur(2px);
       -webkit-backdrop-filter: blur(10px);
       background-color: rgba(255, 255, 255, 0.3);
       padding: 30px 10px 30px 10px;
   }
   

   .centertext{
       text-align: center;
   }


   .quotedirectionrtl{
    direction: rtl;
}

.imgeffect_1_grayscale{
    /* filter: grayscale(80%); */
}

.backgroundgrey {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid lightgray
}

   #intro{
    background-color: #f9f9f9;
}

.video-container_orange{
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-auto-rows: auto;
    gap: 5px;
    /* justify-content: space-evenly;*/
    justify-items: stretch; 
    margin-top: 20px;
}

.video-container_blue{
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-auto-rows: auto;
    gap: 5px;
    /* justify-content: space-evenly;*/
    justify-items: stretch; 
    margin-top: 20px;
}


.video-container_orange span p {
    padding: 0px 15px 0px 15px;
    
}

.video-container_blue span p {
    padding: 0px 15px 0px 15px;
    color:white;
}

.video-container_orange span{
    padding: 0px 0px 15px 0px;
    background-color: #f16524;
    /* margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: 5px; */
}

.video-container_blue span{
    padding: 0px 0px 15px 0px;
    background-color:#264de4;
    /* margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: 5px; */
}



#copyright{
    /* text-shadow: 1px 1px 5px black; */
    height: 100px;
    padding-top: 10px;
    background-color: #f9f9f9;
}



#complete_documentation_html{
    /* background-image: url("../images/bg_moz.jpg"); */
    background-color: #f16524;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    background-position: center;
    background-blend-mode:screen;
    background-attachment: fixed;

}

#complete_documentation_css{
    /* background-image: url("../images/bg_moz.jpg"); */
    background-color: #264de4 !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    background-position: center;
    background-blend-mode:screen;
    background-attachment: fixed;

}

#complete_documentation_css a{
    color: white;
}

#name_order_dictionary::after{
    content: " A -Z";
}

#dictionary div p {
    font-stretch: condensed;
}


#progresssbar_dictionary{
    height: 100px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
}

progress[value] {
      /* Reset the default appearance */
  /* -webkit-appearance: none;
  appearance: none; */
    width: 300px;
    height: 60px;
}
/* progress[value]::-webkit-progress-value {
    background-color: #f16524 !important;
    
    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  } */
#audio_elements{
background-color: #f9f9f9;
}

#herarchical_structure_html{
background-color: #f16524;
padding: 30px 0px 30px 0px ;
}


#herarchical_structure_css{
    background-color: #264de4;
    padding: 30px 0px 30px 0px ;
    }
    

#videos{
    background-color: white;
}

#timeline .container{
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-auto-rows: auto;
    gap: 5px;
    /* justify-content: space-evenly;*/
    justify-items: stretch; 
    margin-top: 20px;
}