body {
    background-color: ffffff;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

p{
    text-align: justify;
}

li{
    margin-bottom: 1.5rem;
    list-style-type: none;
}


main{
    width: 90%;
    margin: 0 auto;
}

nav{
    background-color: white;
    padding: 20px 10px 20px 10px;
    margin: 0;
}

button{
    padding: 10px 60px 10px 60px;
}

input[type="button"],input[type="reset"],input[type="submit"]{
    padding: 10px 60px 10px 60px;  
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

